apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-semenov
  namespace: semenov
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-world-semenov
  template:
    metadata:
      labels:
        app: hello-world-semenov
    spec:
      containers:
      - name: hello-world-semenov
        image: localhost:5000/semenov/hello-world:20251111211249
        imagePullPolicy: Always
        ports:
        - containerPort: 9090
        env:
        - name: PORT
          value: "9090"
        livenessProbe:
          httpGet:
            path: /health
            port: 9090
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 9090
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"

